# -*- coding: utf-8 -*-
import os

DEFAULT_TIMEZONE = 'Asia/Tokyo'
DEBUG = True
PROFILE = False
SECRET_KEY = 'hogehoge'
SESSION_PREFIX = 'gaesess:'
COOKIE_AGE = 1209600 # 2 weeks
COOKIE_NAME = 'KAY_SID'

ADMINS = (
  ['Takashi Matsuo', 'tmatsuo@shehas.net'],
)

TEMPLATE_PATHS = (
  'templates',
)

USE_I18N = True
DEFAULT_LANG = 'en'

INSTALLED_APPS = (
)

MIDDLEWARE_CLASSES = (
  'kay.middleware.session.SessionMiddleware',
)
