<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {%- block css %}
    {% endblock css -%}
    {%- block js %}
    {% endblock js -%}
  </head>
  <body>
    {% block content %}
    <div id="message">
      {{ message }}
    </div>
    <div id="loginform">
      {% call form() %}
      <fieldset>
        <legend>{{ _('Kay Login Form') }}</legend>
        {% for field in form %}
        <p>
          {{ field.label()|safe }}
          {{ field.render()|safe }}
          {{ field.errors()|safe }}
        </p>
        {% endfor %}
        {{ form.default_actions(label=_("Login"))|safe }}
      </fieldset>
      {% endcall %}
    </div>
    {% endblock content %}
  </body>
</html>
