{% extends 'base.html' %}
{% block title %}{{_('Change Password')}}{% endblock title %}
{%- block bodytag %}<body onload="document.forms[0].old_password.focus();">{% endblock bodytag -%}
{% block content %}
    <div id="message">
      {{ message }}
    </div>
    <div id="change_password_form">
      {% call form() %}
      <fieldset>
        <legend>{{ _('Changing password') }}</legend>
        {% for field in form %}
        <p>
          {{ field.errors()|safe }}
          {{ field.label()|safe }}
          {{ field.render()|safe }}
        </p>
        {% endfor %}
        {{ form.default_actions(label=_("Change"))|safe }}
      </fieldset>
      {% endcall %}
    </div>
{% endblock content %}
