{% extends 'base.html' %}
{% block title %}{{_('Kay Reset Password Request')}}{% endblock title %}
{%- block bodytag %}<body onload="document.forms[0].user_name.focus();">{% endblock bodytag -%}
{% block content %}
    <p>{{_("Please input your user name.")}}</p>
    <div id="message">
      {{ message }}
    </div>
    <div id="reset_password_form">
      {% call form() %}
      <fieldset>
        <legend>{{ _('Kay Reset Password Request') }}</legend>
        {% for field in form %}
        <p>
          {{ field.errors()|safe }}
          {{ field.label()|safe }}
          {{ field.render()|safe }}
        </p>
        {% endfor %}
        {{ form.default_actions(label=_("Request Resetting Password"))|safe }}
      </fieldset>
      {% endcall %}
    </div>
{% endblock content %}
