{% extends 'base.html' %}
{% block title %}{{_('Kay Reset Password')}}{% endblock title %}
{%- block bodytag %}<body onload="document.forms[0].new_password.focus();">{% endblock bodytag -%}
{% block content %}
    <p>{{_("Please input your new password.")}}</p>
    <div id="message">
      {{ message }}
    </div>
    <div id="reset_password_form">
      {% call form() %}
      <fieldset>
        <legend>{{ _('Kay Reset Password') }}</legend>
        {% for field in form %}
        <p>
          {{ field.errors()|safe }}
          {% if field.type != 'hidden' %}{{ field.label()|safe }}{% endif %}
          {{ field.render()|safe }}
        </p>
        {% endfor %}
        {{ form.default_actions(label=_("Reset Your Password"))|safe }}
      </fieldset>
      {% endcall %}
    </div>
{% endblock content %}
